/**
 * Footer Component
 * 全ページ共通フッターコンポーネント
 */

@use "variables" as *;
@use "functions" as *;
@use "mixins" as *;

// ================================================
// FOOTER
// フッター（全ページ共通）
// ================================================

.footer {
    position: relative;
    background: linear-gradient(0deg, #231f20 0%, #332e2f 100%);
    color: $base_color_white;
    padding: spx(59) 0 spx(250);
    border-top: solid spx(5) $base_color_white;
    @include tablet-up {
        padding: ppx(145 * $pc-to-tab-ratio) 0 ppx(149 * $pc-to-tab-ratio);
        border-top: solid ppx(3 * $pc-to-tab-ratio) $base_color_white;
    }
    @include desktop-up {
        padding: ppx(145) 0 ppx(149);
        border-top: solid ppx(3) $base_color_white;
    }

    &__inner {
        margin: 0 spx(60);
        display: flex;
        flex-flow: column;
        gap: spx(100);
        @include tablet-up {
            margin: 0 ppx(220 * $pc-to-tab-ratio);
            flex-flow: row;
            align-items: flex-end;
            justify-content: space-between;
            gap: unset;
        }
        @include desktop-up {
            margin: 0 ppx(220);
        }
    }

    &__brand-link {
        display: block;
        width: max-content;
        margin-inline: auto;
        @include tablet-up {
            margin-inline: unset;
        }
    }

    &__brand {
        display: flex;
        flex-flow: column;
        gap: spx(5);
        align-items: center;
        @include tablet-up {
            flex-flow: row;
            gap: ppx(20 * $pc-to-tab-ratio);
        }
        @include desktop-up {
            gap: ppx(20);
        }
    }

    &__logo {
        width: spx(287);
        height: auto;
        @include tablet-up {
            width: ppx(162 * $pc-to-tab-ratio);
        }
        @include desktop-up {
            width: ppx(162);
        }
    }

    &__logo-image {
        display: block;
        width: 100%;
        height: auto;
    }

    &__company-name {
        font-size: spx(47);
        font-weight: 700;
        line-height: 110%;
        text-align: center;
        white-space: nowrap;

        @include tablet-up {
            font-size: ppx(45 * $pc-to-tab-ratio);
            text-align: left;
            white-space: unset;
        }

        @include desktop-up {
            font-size: ppx(45);
        }
    }

    &__company-name-text {
        display: block;
    }

    &__divider {
        width: spx(600);
        height: 1px;
        background-color: $base_color_white;
        margin-top: spx(80);
        margin-bottom: spx(40);
        @include tablet-up {
            width: 38vw;
            margin-top: ppx(96 * $pc-to-tab-ratio);
            margin-bottom: ppx(39 * $pc-to-tab-ratio);
        }
        @include desktop-up {
            width: ppx(1060);
            margin-top: ppx(96);
            margin-bottom: ppx(39);
        }
    }

    &__contact {
        margin-left: spx(126);
        @include tablet-up {
            margin-left: ppx(10 * $pc-to-tab-ratio);
        }
        @include desktop-up {
            margin-left: ppx(10);
        }
    }

    &__contact-item {
        &--address {
            font-size: spx(30);
            font-weight: 500;
            line-height: 140%;
            letter-spacing: spx(1.5);
            display: flex;
            flex-flow: column;
            margin-bottom: spx(10);

            @include tablet-up {
                font-size: ppx(30 * $pc-to-tab-ratio);
                letter-spacing: ppx(1.5 * $pc-to-tab-ratio);
                flex-flow: row;
                gap: 1em;
                margin-bottom: ppx(8 * $pc-to-tab-ratio);
            }

            @include desktop-up {
                font-size: ppx(30);
                line-height: 160%;
                letter-spacing: ppx(3);
                margin-bottom: ppx(8);
            }
        }
        &--tel,
        &--fax {
            font-size: spx(30);
            font-weight: 500;
            line-height: 160%;
            letter-spacing: spx(1.5);
            display: flex;
            gap: 1em;

            @include tablet-up {
                font-size: ppx(30 * $pc-to-tab-ratio);
                letter-spacing: ppx(1.5 * $pc-to-tab-ratio);
            }

            @include desktop-up {
                font-size: ppx(30);
                letter-spacing: ppx(3);
            }
        }
        &--fax {
            pointer-events: none;
        }
    }

    &__social {
        position: absolute;
        top: spx(523);
        left: spx(70);
        @include tablet-up {
            top: ppx(160 * $pc-to-tab-ratio);

            left: unset;
            right: ppx(230 * $pc-to-tab-ratio);
        }
        @include desktop-up {
            top: ppx(160);
            right: ppx(230);
        }
    }

    &__social-link {
        svg {
            width: spx(70);
            height: spx(70);
            @include tablet-up {
                width: ppx(70 * $pc-to-tab-ratio);
                height: ppx(70 * $pc-to-tab-ratio);
            }
            @include desktop-up {
                width: ppx(70);
                height: ppx(70);
            }

            path {
                fill: $base_color_white;
                transition: fill 0.3s ease;
            }
        }

        @include hover {
            &:hover {
                svg {
                    path {
                        fill: $base_color_2;
                    }
                }
            }
        }
    }

    &__copyright {
        text-align: center;
        width: max-content;
    }

    &__copyright-text {
        font-size: spx(23);
        font-weight: 500;
        line-height: 140%;
        letter-spacing: spx(1.15);

        @include tablet-up {
            font-size: ppx(25 * $pc-to-tab-ratio);
            letter-spacing: ppx(2 * $pc-to-tab-ratio);
        }

        @include desktop-up {
            font-size: ppx(25);
            letter-spacing: ppx(2);
        }
        .sp {
            display: block;
            @include tablet-up {
                display: none;
            }
        }
    }
    &.lower-level {
        border-top: solid spx(5) $base_color_white;
        @include tablet-up {
            border-top: solid ppx(3 * $pc-to-tab-ratio) $base_color_white;
        }
        @include desktop-up {
            border-top: solid ppx(3) $base_color_white;
        }
    }
}
