@use "./variables" as *;
@use "./functions" as *;
@use "./mixins" as *;

html {
    scroll-behavior: smooth;
    body {
        width: 100vw;
        overflow-x: hidden;
        @include zen-kaku-gothic-new-regular;
        background-color: #f0f0f0;
        // モバイル向け背景設定
        background-image: var(--bg-mobile-fallback), var(--bg-mobile);
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        // タブレット以上での固定背景設定
        @include tablet-up {
            background-image: var(--bg-desktop-fallback), var(--bg-desktop);
            background-attachment: fixed;
        }

        font-family: $font-noto-sans-jp;
        font-weight: 500;
        color: $base_color_1;
        &.is-loading {
            visibility: hidden;
            opacity: 0;
            transition: none;
        }
        &.is-loaded {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.3s ease-in;
        }
    }
}

svg {
    overflow: visible !important;
}

.bg-wrapper {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $base_color_1;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero-section {
    position: relative;

    .hero-swiper {
        width: 100%;
        height: 100dvh;
        overflow: hidden;

        .swiper-slide {
            width: 100%;
            height: 100%;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1.2);
                animation: hero-zoom-out 7.5s ease-in-out forwards; //delayとspeedの合計値にする
                animation-play-state: paused;
            }

            &.swiper-slide-active {
                img {
                    animation-play-state: running;
                }
            }
        }

        .swiper-pagination {
            position: absolute;
            left: spx(60) !important;
            bottom: spx(48) !important;
            display: flex;
            gap: spx(14) !important;

            @include tablet-up {
                gap: ppx(15 * $pc-to-tab-ratio) !important;
                left: ppx(157 * $pc-to-tab-ratio) !important;
                bottom: ppx(75 * $pc-to-tab-ratio) !important;
            }

            @include desktop-up {
                gap: ppx(15) !important;
                left: ppx(157) !important;
                bottom: ppx(75) !important;
            }
        }

        .hero-bullet {
            display: block;
            width: spx(30);
            aspect-ratio: 1 / 1;
            border-radius: 0;
            background: #fff;
            opacity: 1;
            transition: transform 0.3s;
            cursor: pointer;

            @include tablet-up {
                width: ppx(40 * $pc-to-tab-ratio);
            }

            @include desktop-up {
                width: ppx(40);
            }

            &.is-active {
                background: $base_color_2;
            }
        }
        #main-title {
            position: absolute;
            top: spx(257);
            left: spx(60);
            z-index: 1;
            @include tablet-up {
                top: ppx(520 * $pc-to-tab-ratio);
                left: ppx(186 * $pc-to-tab-ratio);
            }
            @include desktop-up {
                top: ppx(520);
                left: ppx(186);
            }
            #line1 {
                color: $base_color_2;
                font-size: spx(55);
                font-weight: 700;
                line-height: 155%;
                @include tablet-up {
                    font-size: ppx(95 * $pc-to-tab-ratio);
                }
                @include desktop-up {
                    font-size: ppx(95);
                }
            }
            #line2 {
                color: $base_color_2;
                font-size: spx(81);
                font-weight: 700;
                line-height: 155%;
                margin-top: spx(-12);
                @include tablet-up {
                    font-size: ppx(145 * $pc-to-tab-ratio);
                    margin-top: ppx(-20 * $pc-to-tab-ratio);
                }
                @include desktop-up {
                    font-size: ppx(145);
                    margin-top: ppx(-20);
                }
            }
            span {
                display: inline;
                transition: opacity 0.3s;
            }
        }
    }
}

// キーフレームは外部に定義
@keyframes hero-zoom-out {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
