@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

/**
 * Typography Base Styles
 * フォント関連の基本設定
 */

html {
    scroll-behavior: smooth;
}

body {
    @include zen-kaku-gothic-new-regular;
    font-family: $font-noto-sans-jp;
    font-weight: 500;
    color: $base_color_1;
}
