@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

/**
 * Background Component
 * 全体背景画像の管理
 * CMS移植時: 画像パスの動的化が必要
 */

.bg-wrapper {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $base_color_1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
